<%- include('../partials/header', { title: 'Users' }) %>
<header>
    <h1>Conferencias</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/conferernce">Home</a></li>
          <li class="breadcrumb-item"><a href="/conferernce/create">Nuevo conferencia</a></li>
        </ol>
      </nav>
      
      <p>Aca vamos am mosrar la lista de confererncias</p>

</header>

<%- include('../partials/footer') %>