<%- include('partials/header', { title: 'Users' }) %>

<h1>Create User</h1>
<form action="/users/create" method="post">
    <label>Name: <input type="text" name="name" required></label><br>
    <label>Email: <input type="email" name="email" required></label><br>
    <label>Password: <input type="password" name="password" required></label><br>
    <button type="submit">Create</button>
</form>
<a href="/users">Back</a>

<%- include('partials/footer') %>