<%- include('../partials/header', { title: 'Users' }) %>
<header>
    <h1>Roles</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/roles">Home</a></li>
        </ol>
      </nav>
      
      <p>Aca vamos a mosrar la lista de roles</p>

</header>

<%- include('../partials/footer') %>